{% extends "base.html" %}

{% block head %}
<style type="text/css">
#map { height: 30em; }
</style>
<script type="text/javascript">
(function($) {
  var server;

  function setup_map(id)
  {
    // OSM base layer
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © OpenStreetMap contributors';
    var map = L.map(id).setView([51.505, -0.09], 13);

    var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 12, attribution: osmAttrib, boxZoom: false});
    map.addLayer(osm);

    // Show the mouse position in the map
    L.control.mousePosition({ position: "bottomright" }).addTo(map);

    // Add the rectangle selection facility
    var selectfeature = map.boxSelect.enable();
    //var selectfeature = map.selectAreaFeature.enable();
    //var locationFilter = new L.LocationFilter({ buttonPosition: "bottomleft", adjustButton: null }).addTo(map);
    /*
    locationFilter.on("change", function(e) {
      window.provami.js_area_selected(e.bounds.getNorth(), e.bounds.getSouth(), e.bounds.getWest(), e.bounds.getEast());
    });
    locationFilter.on("enabled", function(e) {
      window.provami.js_area_selected(e.bounds.getNorth(), e.bounds.getSouth(), e.bounds.getWest(), e.bounds.getEast());
    });
    locationFilter.on("disabled", function(e) {
      window.provami.js_area_unselected();
    });
    */
  }

  function main()
  {
    provami = new window.provami.Provami();
  }

  async function async_main()
  {
    setup_map("map");
    await provami.update_all();
  }
  $(document).ready(() => {
    main();
    async_main().then();
  });
})(jQuery);
</script>
{% end %}

{% block body %}
<div class="row">

<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h2 class="panel-title">
      <!--
      <div class="btn-group pull-right" role="group" aria-label="filter_actions">
        <button id="filter_update" type="button" class="btn btn-default btn-xs">Update</button>
      </div>
      -->
      Filter
    </h2>
  </div>
  <div class="panel-body">
  <form id="filter">
  <table id="filter" class="table">
    <tbody>
      <tr id="filter-rep_memo">
        <th><label for="filter-field-rep_memo">Network:</label></th>
        <td class="value">
          <span class="value"></span>
          <select class="form-control" id="filter-field-rep_memo">
          </select>
        </td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
      <tr id="filter-var">
        <th><label for="filter-field-var">Variable:</label></th>
        <td class="value">
          <span class="value"></span>
          <select class="form-control" id="filter-field-var">
          </select>
        </td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
      <tr id="filter-level">
        <th><label for="filter-field-level">Level:</label></th>
        <td class="value">
          <span class="value"></span>
          <select class="form-control" id="filter-field-level">
          </select>
        </td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
      <tr id="filter-trange">
        <th><label for="filter-field-trange">Time range:</label></th>
        <td class="value">
          <span class="value"></span>
          <select class="form-control" id="filter-field-trange">
          </select>
        </td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
    </tbody>
  </table>
  </form>
  <!--
    <fieldset id="filter_fields">
    <label for="filter-repmemo">Network</label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-asterisk" id="filter-repmemo-addon"></span>
      <select class="form-control" id="filter-repmemo" aria-describedby="filter-repmemo-addon">
      </select>
    </div>
    <label for="filter-var">Variable</label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-pencil" id="filter-var-addon"></span>
      <select class="form-control" id="filter-var" aria-describedby="filter-var-addon">
      </select>
    </div>
    <label for="filter-level">Level</label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-resize-vertical" id="filter-level-addon"></span>
      <select class="form-control" id="filter-level" aria-describedby="filter-level-addon">
      </select>
    </div>
    <label for="filter-trange">Time range</label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-resize-horizontal" id="filter-trange-addon"></span>
      <select class="form-control" id="filter-trange" aria-describedby="filter-trange-addon">
      </select>
    </div>
    </fieldset>
    -->
  </div>
</div>
</div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">Stations</div>
    <div class="panel-body" id="map">
    </div>
  </div>
</div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Data</div>
      <div class="panel-body">
        <table id="data" class="table table-striped">
          <thead>
            <tr>
              <th>Network</th>
              <th>Station</th>
              <th>Variable</th>
              <th>Level</th>
              <th>Time range</th>
              <th>Datetime</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% end %}
