{% extends "base.html" %}

{% block head %}
<style type="text/css">
#map { height: 30em; }
.marker-cluster-highlighted {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-highlighted div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-normal {
  background-color: rgba( 96, 166, 215, 0.6);
}
.marker-cluster-normal div {
  background-color: rgba( 38, 127, 202, 0.6);
}

.marker-cluster-current {
  background-color: rgba(122, 238, 228, 0.6);
}
.marker-cluster-current div {
  background-color: rgba( 56, 246, 239, 0.6);
}

.marker-cluster-hidden {
  background-color: rgba(180, 180, 180, 0.6);
}
.marker-cluster-hidden div {
  background-color: rgba(150, 150, 150, 0.6);
}
</style>
<script type="text/javascript">
(function($) {
  function main()
  {
    provami = new window.provami.Provami({
      resource_url: "{{ static_url('provami/') }}",
    });
  }

  async function async_main()
  {
    await provami.init();
  }

  $(document).ready(() => {
    main();
    async_main().then();
  });
})(jQuery);
</script>
{% end %}

{% block body %}
<div class="row">

<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h2 class="panel-title">
      <!--
      <div class="btn-group pull-right" role="group" aria-label="filter_actions">
        <button id="filter_update" type="button" class="btn btn-default btn-xs">Update</button>
      </div>
      -->
      Filter
    </h2>
  </div>
  <div class="panel-body">
  <form id="filter">
  <table id="filter" class="table">
    <tbody>
      <tr id="filter-station">
        <th><label for="filter-field-station">Station:</label></th>
        <td class="value">all<td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
      <tr id="filter-rep_memo">
        <th><label for="filter-field-rep_memo">Network:</label></th>
        <td class="value">
          <span class="value"></span>
          <select class="form-control" id="filter-field-rep_memo">
          </select>
        </td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
      <tr id="filter-var">
        <th><label for="filter-field-var">Variable:</label></th>
        <td class="value">
          <span class="value"></span>
          <select class="form-control" id="filter-field-var">
          </select>
        </td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
      <tr id="filter-level">
        <th><label for="filter-field-level">Level:</label></th>
        <td class="value">
          <span class="value"></span>
          <select class="form-control" id="filter-field-level">
          </select>
        </td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
      <tr id="filter-trange">
        <th><label for="filter-field-trange">Time range:</label></th>
        <td class="value">
          <span class="value"></span>
          <select class="form-control" id="filter-field-trange">
          </select>
        </td>
        <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove remove"></button></td>
      </tr>
    </tbody>
  </table>
  </form>
  <!--
    <fieldset id="filter_fields">
    <label for="filter-repmemo">Network</label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-asterisk" id="filter-repmemo-addon"></span>
      <select class="form-control" id="filter-repmemo" aria-describedby="filter-repmemo-addon">
      </select>
    </div>
    <label for="filter-var">Variable</label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-pencil" id="filter-var-addon"></span>
      <select class="form-control" id="filter-var" aria-describedby="filter-var-addon">
      </select>
    </div>
    <label for="filter-level">Level</label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-resize-vertical" id="filter-level-addon"></span>
      <select class="form-control" id="filter-level" aria-describedby="filter-level-addon">
      </select>
    </div>
    <label for="filter-trange">Time range</label>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-resize-horizontal" id="filter-trange-addon"></span>
      <select class="form-control" id="filter-trange" aria-describedby="filter-trange-addon">
      </select>
    </div>
    </fieldset>
    -->
  </div>
</div>
</div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">Stations</div>
    <div class="panel-body" id="map">
    </div>
  </div>
</div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Data</div>
      <div class="panel-body">
        <table id="data" class="table table-striped">
          <thead>
            <tr>
              <th>Network</th>
              <th>Station</th>
              <th>Variable</th>
              <th>Level</th>
              <th>Time range</th>
              <th>Datetime</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% end %}
